/* Empty. Add your own CSS if you like */
.dashboard {
  background: #f3f3f3;
}
/* Styles here */
.progress-wrapper{
    position: relative;
    margin:20px auto;
    font-size: 40px;
}

.progress{
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}

.container{
    width: 100%;
    max-width: 960px;
    margin:100px auto;
    text-align: center;
}
.round-progress{
    overflow: visible !important;
}
