<ion-view view-title="Halo" style="background-image: url('./img/homebackground.png'); background-position: center; background-size: cover;">
  <ion-content class="padding">

    <div class="progress-wrapper" style="">
            <div class="progress ng-binding" ng-style="getStyle()" style="top: 50%; bottom: auto; left: 50%; transform: translateY(-50%) translateX(-50%); font-size: 1.5em;">
              {{progress}}°F
             </div>

        <div id="temperatureProgress" style="text-align:center" round-progress max="total" current="progress" color="{{temperatureColor}}" bgcolor="#eaeaea" radius="100" stroke="8" semi="false" rounded="true" clockwise="true" responsive="false" duration="800" animation="easeInOutQuart"></div>
        </div>

        <!-- <div style="text-align:center" round-progress max="total" current="progress" color="#FC8053" bgcolor="#eaeaea" radius="100" stroke="8" semi="false" rounded="true" clockwise="true" responsive="false" duration="800" animation="easeInOutQuart"></div>
        </div> -->

        <div style="border-radius: 5px; border: 0; width: auto; min-width: 300px; height: 50px; background-color: #FBC875;">
            {{waterMessage}}
        </div>

        <div style="border-radius: 5px; border: 0; width: auto; min-width: 300px; height: 50px; background-color: #FBC875;">
        </div>

      </ion-content>
</ion-view>
